extends layout

block content
  h1 Dota 2 Meta Analysis
  p.lead Current Meta is 6.88b.
  hr
  .row
    .col-sm-6
      h2 EXPLAINING CLEAVE DAMAGE AND HOW TO DEAL WITH IT
      p Cleave is a mechanic that has been around for ages and a variety of currently popular heroes, such as Sven, Juggernaut or Tiny, utilize its effects to gain an advantage. There are a lot of interactions and intricacies surrounding this mechanic however that many are not aware of.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Terrorblade dominates TI6 Qualifiers.
      p With only six teams invited to TI6 this year, the number of qualifying spots more than doubled, giving now two slots from each region, along with a third, Wildcard spot. It was a stark change from previous year’s TI, where the majority of attendees were invited. For this year’s qualifiers, there were higher stakes at hand.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Dealing with HEAVY PUSH.
      p In our blog posts we often emphasize the importance of a coherent draft. Good lineup is a crucial factor in winning the game, yet unfortunately we rarely get a say in what other players in our team are picking, unless Captain’s mode is being played. In AP it usually leads to both teams having weird compositions which have very unclear win conditions.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Bringing back support Kunkka.
      p Almost every hero seems viable in the current meta. For this year’s International qualifiers, 105 out of 111 heroes were picked, more than ever before. Granted, while these were online qualifiers, with more than 30 different teams across the globe, it is still impressive to have so many heroes picked. Even the Manila Major had 95 heroes picked at its LAN portion of the event, a true testament towards a rather balanced patch and meta. Dota as a game just allows heroes to excel in multiple roles and functionalities, as item and skill build choices can change the way you perceive and play them. Kunkka is one of those heroes. Traditionally a core, he has slowly found a foothold as a niche support, as showcased in the past week, and could potentially be an impactful pick going into the main event of TI6.
      p
        a.btn.btn-default(href='#', role='button') View details »